.recipeBox {
    font-family: "Poppins", sans-serif;
}

.search_bars {
    flex-wrap: wrap;
}

.ingredient_bar {
    display: flex;
    width: 96%;
    align-items: center;
    justify-content: center;

}

.search_bars .remaining_bars {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_bars .ingredient_bar .bar {
    background-color: white;
    width: 95vw;
}

.search_bars .remaining_bars .bar2 {
    width: 25vw;
    background-color: white;
}

.search_bars .remaining_bars .btn{
    width: 8vw;
    background-color: white;
}
.recipeBox .upper-section {
    background-color: lightblue;
    border-radius: 10px;
}
.recipe_screen {
    border-style: solid;
    border-color: pink;
    margin-top: 15;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.recipe_screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.pantrybox {
    border-style: solid;
    border-color: pink;
    margin-top: 15;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

p {
    margin: 3px;
    font-size: 12px;
}

.break {
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: lightgray;
    border: 0 none;
}

.list_recipes {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
}

.list_recipes .recipe_box {
    box-shadow: 1px 1px lightblue;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: lightblue;
    width: 48%;
    height: 10%;
    margin: 2px;
}

.logout_btn {
    width: 10vw;
    margin-left: 1vw
}

.recipeBox .upper-section .title_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipeBox .upper-section .title_bar .logout_btn {
    width: 8vw;
    margin-left: 2vw;
}

.recipeBox .upper-section .title_bar .avatar {
    margin-right: 2vw;
}

.recipeBox .upper-section .title_bar .head {
    font-size: 20pt;
    font-family: "Poppins", sans-serif;
}

.recipeBox .list_recipes {
    background-color: white;
    border-radius: 10px;
}