button {
    margin: 5px;
}

.ingredientBox {
    border-style: groove;
    margin-top: 10px;
    width: 90%;
}

.recipeBox {
    border-style: solid;
    border-color: pink;
    margin-top: 15;
    width: 95%;
    height: 100vh;
    overflow: scroll;
}

.recipe_screen {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.pantry-upper {
    float: left;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pantrybox {
    border-style: solid;
    border-color: pink;
    margin-top: 15;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.ingredient-search {
    width: 90%;
    height: 35px;
    font-size: 13px;
    padding-left: 10px;
}

p {
    margin: 3px;
    font-size: 12px;
}

.list_recipes {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
}

.recipe_box {
    border: 2px solid black;
    border-radius: 10px;
    background-color: aqua;
    width: 48%;
}