.wrapper {
    display: flex;
    position: relative;
}

.wrapper .main-content {
    width: 100%;
    margin-left: 20vw;
}

.recipe_box {
    border: 2px solid black;
    border-radius: 10px;
    background-color: aqua;
    width: 48%;
}