body {
    margin: 0;
}

ul.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.navBar li {
    display: block;
    height: 20%;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.navBar li.active {
    background-color: #4CAF50;
    color: white;
}

ul.navBar li:hover {
  background-color: #555;
  color: white;
};
